:root {
    --color-primary: #295FB7;
    --primary-light: #ECF4FD;
    --text-white: white;
    --text-dark: black;
    /* --color-primary: pink; */
}

* {
    margin: 0;
    padding: 0;
}

.navLogo img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.navLogo h2 {
    color: var(--color-primary);
}

.navListItems ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.navBtnsDiv button,
.featureContentDiv button {
    border: none;
    background-color: transparent;
    padding: 8px 12px;
}

#signin,
.featureContentDiv button {
    background-color: var(--color-primary);
    color: var(--text-white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.heroSection {
    background-image: url("./assets/Image_Hero.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: var(--color-primary);
    padding: 80px 0;
    color: var(--text-white);
}

.contentDiv {
    margin: 80px 0;
    width: 70%;
}

.heroCardsDiv {
    background-color: var(--text-white);
    color: var(--text-dark);
    padding: 20px 30px;
}

.servicesSection,
.featureSection {
    background-color: var(--primary-light);
}

.servicesContentDiv h2,
.collectionContentDiv h2,
.featureContentDiv h2 {
    color: var(--color-primary);
    font-weight: bolder;
    font-size: 40px;
}

.servicesCardSection .card.active .cardContentDiv {
    color: var(--text-white);
}

.servicesCardSection .card.active .cardContentDiv h3 {
    color: var(--text-white);
}

.card.active {
    background-color: var(--color-primary);
}

.cardsIconDiv {
    padding: 10px;
    border-radius: 50%;
}

.cardIconDiv i {
    font-size: 42px;
    background-color: var(--color-primary);
    color: var(--text-white);
    padding: 20px;
    border-radius: 50%;
}

.card.active .cardIconDiv i {
    background-color: var(--text-white);
    color: var(--text-dark);
}

.cardContentDiv h3,
.cardContentDiv p,
.cardIconDiv {
    text-align: center;
}

.cardContentDiv h3 {
    color: var(--color-primary);
}

.servicesCardSection .card {
    flex: 1 1 200px;
    min-width: 200px;
}

.featureCardDiv:hover .featureContentDiv {
    animation: fadeInBottom 0.9s linear 0s 1 normal forwards;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.329);
    color: var(--text-white);
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contactSection {
    background-image: url("./assets/r-architecture-KQPEhYweLrQ-unsplash\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backdropDiv {
    background-color: rgba(0, 0, 0, 0.4);

}

.contactSection .row {
    color: var(--text-white);
}

.headingDiv h2 {
    font-size: 42px;
    font-weight: bolder;
}

.contactInfoDiv h6, .socialInfoDiv h6 {
    font-size: 24px;
    font-weight: bold;
}

.contactInfoDiv ul,  .socialInfoDiv ul {
    list-style-type: none;
}

.contactInfoDiv li,  .socialInfoDiv li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.contactInfoDiv li p,  .socialInfoDiv li p {
    margin: 0;
}

.formDiv {
    background-color: white;
}

.formDiv h2 {
    color: var(--color-primary);
}